*.loT
*.o
*.lo
*.a
*.non
*.out
*.txt
*.la
Makefile
bin/makefile-update.sh
src/cvode/.libs/
src/cvode/fcmix/.libs/
src/cvodes/.libs/
src/ida/.libs/
src/ida/fcmix/.libs/
src/idas/.libs/
src/kinsol/.libs/
src/kinsol/fcmix/.libs/
src/nvec_ser/.libs/
bin/fortran-update.sh
bin/sundials-config
config.h
config.log
config.status
examples/cvode/fcmix_serial/Makefile_ex
examples/cvode/fcmix_serial/fcvAdvDiff_bnd
examples/cvode/fcmix_serial/fcvAdvDiff_bnd-updated.f
examples/cvode/fcmix_serial/fcvDiurnal_kry
examples/cvode/fcmix_serial/fcvDiurnal_kry-updated.f
examples/cvode/fcmix_serial/fcvDiurnal_kry_bp
examples/cvode/fcmix_serial/fcvDiurnal_kry_bp-updated.f
examples/cvode/fcmix_serial/fcvRoberts_dns
examples/cvode/fcmix_serial/fcvRoberts_dns-updated.f
examples/cvode/fcmix_serial/fcvRoberts_dnsL
examples/cvode/fcmix_serial/fcvRoberts_dnsL-updated.f
examples/cvode/serial/Makefile_ex
examples/cvode/serial/cvAdvDiff_bnd
examples/cvode/serial/cvAdvDiff_bndL
examples/cvode/serial/cvDirectDemo_ls
examples/cvode/serial/cvDiurnal_kry
examples/cvode/serial/cvDiurnal_kry_bp
examples/cvode/serial/cvKrylovDemo_ls
examples/cvode/serial/cvKrylovDemo_prec
examples/cvode/serial/cvRoberts_dns
examples/cvode/serial/cvRoberts_dnsL
examples/cvode/serial/cvRoberts_dns_uw
examples/cvodes/serial/Makefile_ex
examples/cvodes/serial/cvsAdvDiff_ASAi_bnd
examples/cvodes/serial/cvsAdvDiff_FSA_non
examples/cvodes/serial/cvsAdvDiff_bnd
examples/cvodes/serial/cvsAdvDiff_bndL
examples/cvodes/serial/cvsDirectDemo_ls
examples/cvodes/serial/cvsDiurnal_FSA_kry
examples/cvodes/serial/cvsDiurnal_kry
examples/cvodes/serial/cvsDiurnal_kry_bp
examples/cvodes/serial/cvsFoodWeb_ASAi_kry
examples/cvodes/serial/cvsFoodWeb_ASAp_kry
examples/cvodes/serial/cvsHessian_ASA_FSA
examples/cvodes/serial/cvsKrylovDemo_ls
examples/cvodes/serial/cvsKrylovDemo_prec
examples/cvodes/serial/cvsRoberts_ASAi_dns
examples/cvodes/serial/cvsRoberts_FSA_dns
examples/cvodes/serial/cvsRoberts_dns
examples/cvodes/serial/cvsRoberts_dnsL
examples/cvodes/serial/cvsRoberts_dns_uw
examples/ida/fcmix_serial/Makefile_ex
examples/ida/fcmix_serial/fidaRoberts_dns
examples/ida/fcmix_serial/fidaRoberts_dns-updated.f
examples/ida/serial/Makefile_ex
examples/ida/serial/idaFoodWeb_bnd
examples/ida/serial/idaHeat2D_bnd
examples/ida/serial/idaHeat2D_kry
examples/ida/serial/idaKrylovDemo_ls
examples/ida/serial/idaRoberts_dns
examples/ida/serial/idaSlCrank_dns
examples/idas/serial/Makefile_ex
examples/idas/serial/idasAkzoNob_ASAi_dns
examples/idas/serial/idasAkzoNob_dns
examples/idas/serial/idasFoodWeb_bnd
examples/idas/serial/idasHeat2D_bnd
examples/idas/serial/idasHeat2D_kry
examples/idas/serial/idasHessian_ASA_FSA
examples/idas/serial/idasKrylovDemo_ls
examples/idas/serial/idasRoberts_ASAi_dns
examples/idas/serial/idasRoberts_FSA_dns
examples/idas/serial/idasRoberts_dns
examples/idas/serial/idasSlCrank_FSA_dns
examples/idas/serial/idasSlCrank_dns
examples/kinsol/fcmix_serial/Makefile_ex
examples/kinsol/fcmix_serial/fkinDiagon_kry
examples/kinsol/fcmix_serial/fkinDiagon_kry-updated.f
examples/kinsol/serial/Makefile_ex
examples/kinsol/serial/kinFerTron_dns
examples/kinsol/serial/kinFoodWeb_kry
examples/kinsol/serial/kinKrylovDemo_ls
examples/kinsol/serial/kinLaplace_bnd
examples/kinsol/serial/kinRoboKin_dns
include/sundials/sundials_config.h
libtool
