*.loT
*.o
*.lo
*.a
*.non
*.out
*.txt
*.la
Makefile
src/cvode/.libs/
src/cvode/fcmix/.libs/
src/cvodes/.libs/
src/ida/.libs/
src/ida/fcmix/.libs/
src/idas/.libs/
src/kinsol/.libs/
src/kinsol/fcmix/.libs/
src/nvec_ser/.libs/

